<ion-view view-title="{{blog.title}}">
  <ion-content no-scroll>

    <swipe-cards ng-controller="CardCtrl">
      <swipe-card on-card-swipe="cardSwiped()">
        <div class="item">
          <h2>{{blog.title}}</h2>
        </div>

        <div class="item item-image">
          <img ng-src="{{blog.image}}">
        </div>

        <a class="item item-icon-left assertive" href="#">
          <i class="icon ion-music-note"></i>
          Swipe down to start
        </a>
      </swipe-card>
      <swipe-card ng-repeat="card in cards" on-card-swipe="cardSwiped($index)" on-destroy="cardDestroyed($index)">
        <div class="item">
          <h2>{{card.title}}</h2>
        </div>

        <div class="item item-image">
          <img ng-src="{{card.image}}">
        </div>

        <a class="item item-icon-left assertive" href="#">
          <i class="icon ion-music-note"></i>
          Start listening
        </a>
      </swipe-card>
    </swipe-cards>
  </ion-content>
  <div class="bar bar-footer">
    <button class="button button-clear button-assertive pull-left" ng-click="showAbout()">About</button>
    <button class="button button-clear button-assertive pull-right">Visit
      {{blog.title}}</button>
  </div>
</ion-view>
