<ion-view view-title="{{blog.title}}">
  <ion-content class="ferns-bg" no-scroll>

    <swipe-cards ng-controller="CardCtrl">
      <swipe-card class="fade-component padding-top" on-card-swipe="cardSwiped()">
        <div class="item" style="text-align:center;">
          <h2 class="padding-bottom">Swipe down to start</h2>
          <ion-spinner class="padding-top" icon="ripple"></ion-spinner>
        </div>
      </swipe-card>

      <swipe-card ng-repeat="card in cards" on-card-swipe="cardSwiped($index)" on-destroy="cardDestroyed($index)">
        <div class="item">
          <!-- <img src="mcfly.jpg"> -->
          <h2>{{card.index}}<span><p style="float: right;">{{card.date}}</p></span></h2>
        </div>

        <div class="item item-body">
          <img class="full-image" ng-src="{{blog.image}}">
          <h2 class="padding-bottom">
            {{card.title.text}}
          </h2>
        </div>

        <a  ng-controller="ModalCtrl" on-tap="openModal();" target="_blank" class="item item-icon-right">
          <span class="pull-right">View Post<i class="icon ion-ios-arrow-right"></i></span>
        </a>
      </swipe-card>
    </swipe-cards>
  </ion-content>
  <div class="bar bar-footer">
    <button class="button button-clear button-balanced pull-left" ng-click="showAbout()">About</button>
    <button class="button button-clear button-balanced pull-right">Visit
      {{blog.title}}</button>
  </div>
</ion-view>
