<ion-view view-title="{{blog.title}}">
  <ion-content class="ferns-bg" no-scroll>

    <swipe-cards ng-controller="CardCtrl">
      <swipe-card class="padding-top" on-card-swipe="cardSwiped()">
        <div class="item fade-component" style="text-align:center;">
          <h2 class="padding-bottom">Swipe down to start</h2>
          <ion-spinner class="padding-top" icon="ripple"></ion-spinner>
        </div>
      </swipe-card>

      <swipe-card ng-repeat="card in cards" on-card-swipe="cardSwiped($index)"
                  on-destroy="cardDestroyed($index)">
        <div class="item fade-component">
          <!-- <img src="mcfly.jpg"> -->
          <h2>{{card.index}}<span><p style="float: right;">{{card.date}}</p></span></h2>
        </div>

        <div class="item item-body">
          <h2 class="padding-bottom">
            <a ng-controller="ModalCtrl" on-tap="openModal();" ng-model="$scope.cards">{{card.title.text}}</a>
          </h2>
          <div ng-if="card.image.src == null" class="padding">
            <img class="full-image" ng-src="{{blog.image}}">
          </div>
          <div ng-if="card.image.src != null">
            <img class="full-image" ng-src="{{card.image.src}}">
          </div>
          <p>{{card.description}}</p>
        </div>

        <a ng-controller="ModalCtrl" on-tap="openModal();" ng-model="$scope.cards" class="item item-icon-right">
          <span class="pull-right">View Post<i class="icon ion-ios-arrow-right"></i></span>
        </a>
      </swipe-card>
    </swipe-cards>
  </ion-content>
  <div class="bar bar-footer">
    <button class="button button-clear button-balanced pull-left" ng-click="showAbout()">About</button>
    <button class="button button-clear button-balanced pull-right">Visit
      {{blog.title}}</button>
  </div>
</ion-view>
