<ion-view view-title="Home">
  <ion-content class="ferns-bg">
    <div class="list card fade-component">
      <div class="item">
        <!-- <img src="mcfly.jpg"> -->
        <h2>Today's Top Posts</h2>
        <p>November 01, 2015</p>
      </div>
      <a href="#" class="item item-icon-left">
        <i class="icon ion-home"></i>
        Post 1
      </a>
      <a href="#" class="item item-icon-left">
        <i class="icon ion-ios-telephone"></i>
        Post 2
      </a>
      <a href="#" class="item item-icon-left">
        <i class="icon ion-wifi"></i>
        Post 4
      </a>
      <a href="#" class="item item-icon-left">
        <i class="icon ion-card"></i>
        Enter card information
      </a>
    </div>

    <div class="list card fade-component">
      <div class="item item-divider">
        Section 2
      </div>
      <a href="#" class="item item-icon-left">
        <i class="icon ion-home"></i>
        Section 2 Item 1
      </a>
      <a href="#" class="item item-icon-left">
        <i class="icon ion-ios-telephone"></i>
        Section 2 Item 2
      </a>
      <a href="#" class="item item-icon-left">
        <i class="icon ion-wifi"></i>
        Section 2 Item 3
      </a>
      <a href="#" class="item item-icon-left">
        <i class="icon ion-card"></i>
        Section 2 Item 4
      </a>
    </div>
  </ion-content>
</ion-view>
