<ion-view view-title="Home">
  <ion-content>
    <div class="list card">
      <div class="item">
        <!-- <img src="mcfly.jpg"> -->
        <h2>Today's Top Posts</h2>
        <p>November 01, 2015</p>
      </div>
      <a href="#" class="item item-icon-left">
        <i class="icon ion-home"></i>
        Post 1
      </a>
      <a href="#" class="item item-icon-left">
        <i class="icon ion-ios-telephone"></i>
        Post 2
      </a>
      <a href="#" class="item item-icon-left">
        <i class="icon ion-wifi"></i>
        Post 4
      </a>
      <a href="#" class="item item-icon-left">
        <i class="icon ion-card"></i>
        Enter card information
      </a>
    </div>

    <div class="list card">
      <div class="item item-divider">
        Lots of Butts
      </div>
      <a href="#" class="item item-icon-left">
        <i class="icon ion-home"></i>
        Butt 1
      </a>
      <a href="#" class="item item-icon-left">
        <i class="icon ion-ios-telephone"></i>
        Butt 2
      </a>
      <a href="#" class="item item-icon-left">
        <i class="icon ion-wifi"></i>
        Butt 3
      </a>
      <a href="#" class="item item-icon-left">
        <i class="icon ion-card"></i>
        Butt 4
      </a>
    </div>
  </ion-content>
</ion-view>
