<ion-view view-title="{{itemType | capitalize}}">
  <ion-content  random-background>
    <ion-refresher
      pulling-icon="ion-jet"
      on-refresh="doRefresh()"
      spinner="dots">
    </ion-refresher>
    <ion-list>
      <ion-item class="item item-avatar item-text-wrap fade-component" ng-repeat="item in items" href="/app/songs/{{itemType}}/{{item._id}}" class="item-avatar">
        <img src="/img/ionic.png" />
        <h2 class="blogs-title">{{item.name}}</h2>
        <p>{{item.description}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
