<ion-view view-title="Soundz">
  <ion-content class="ferns-bg" no-scroll>

    <swipe-cards ng-controller="CardCtrl">
      <swipe-card class="padding-top" on-card-swipe="cardSwiped()">
        <div class="item fade-component" style="text-align:center;">
          <h2 class="padding-bottom">Swipe down to start</h2>
          <ion-spinner class="padding-top" icon="ripple"></ion-spinner>
        </div>
      </swipe-card>

      <swipe-card ng-repeat="card in cards" on-card-swipe="cardSwiped($index)" on-destroy="cardDestroyed($index)">

        <div class="item item-body sound-embed">
          <div plangular="{{card.url}}">
            <div class="row">
              <div class="col">
                <img alt="{{track.title}}" ng-src="{{track.artwork_url}}" style="min-width: 50px;"/>
              </div>
              <div class="col col-67 padding-left">
                <h2 class="m0">{{track.user.username}}</h2>
                <!-- Adding the .caps class to the following h2 produces nice
              results. I think if we touch them up a bit we're golden -->
                <h2 class="m0">{{track.title}}</h2>
              </div>
            </div>
            <div class="row padding-top">
              <div class="col">
                <button class="flex-none h4 mr2 button button-clear button-grow rounded" ng-click="playPause()" title="Play/Pause">
                  <svg class="icon geomicon" data-icon="play" height="32" ng-if="player.playing !== track.src" style="fill:currentcolor" viewBox="0 0 32 32" width="32">
                    <path d="M4 4 L28 16 L4 28 z "></path>
                  </svg>
                  <svg class="icon geomicon" data-icon="pause" height="32" ng-if="player.playing === track.src" style="fill:currentcolor" viewBox="0 0 32 32" width="32">
                    <path d="M4 4 H12 V28 H4 z M20 4 H28 V28 H20 z "></path>
                  </svg>
                </button>
              </div>
              <div class="col col-80">
                <progress class="progress" ng-click="seek($event)" ng-value="currentTime / duration || 0">
                {{ currentTime / duration }}
              </progress>
            </div>
          </div>
        </div>
      </div>

    </swipe-card>
  </swipe-cards>
</ion-content>
</ion-view>
