<ion-view cache-view="false" view-title="Top Sounds">
  <ion-content class="ferns-bg" no-scroll>

    <swipe-cards ng-controller="CardCtrl">
      <swipe-card class="padding-top" on-card-swipe="cardSwiped()">
        <div class="item" style="text-align:center;">
          <h2 class="padding-bottom">Swipe down to start</h2>
          <img src="/img/icons/rocket/animat-rocket-color.gif" style="max-width: 250px;"/>
        </div>
      </swipe-card>

      <swipe-card ng-repeat="card in cards" on-card-swipe="cardSwiped($index)" on-destroy="cardDestroyed($index)">
        <div plangular="{{card.url}}">
          <div class="item item-body sound-embed">
            <div ng-if="!track" style="text-align: center;">
              <ion-spinner icon="ripple"></ion-spinner>
            </div>
            <div ng-if="track">
              <div class="row padding-bottom">
                <div class="col padding-top">
                  <a ng-click="playPause()">
                    <img alt="{{track.title}}" ng-src="{{track.artwork_url}}" style="max-width: 70px;" />
                  </a>
                </div>
                <div class="col col-70">
                  <h2 class="caps padding-left" style="margin-top: 5px;">
                    <b>{{track.title}}</b>
                  </h2>
                  <h2 class="padding-left">
                    {{track.user.username}}
                    <span style="float: right;">
                      <a ng-href="{{track.permalink_url}}" target="_blank">
                        <img src="/img/soundcloud.png" style="max-width: 40px;"/>
                      </a>
                    </span>
                  </h2>
                </div>
              </div>
              <div class="row">

              </div>
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col">
                <button class="button button-clear" ng-click="playPause()" title="Play/Pause">
                  <i class="icon ion-ios-play" data-icon="play" ng-if="player.playing !== track.src"></i>
                  <i class="icon ion-ios-pause" data-icon="pause" ng-if="player.playing === track.src"></i>
                </button>
              </div>
              <div class="col-80">
                <progress class="progress" ng-click="seek($event)" ng-value="currentTime / duration || 0" style="margin-top:20px;">
                {{ currentTime / duration }}
              </progress>
              <small>{{ currentTime | hhmmss }}
                |
                {{ duration | hhmmss }}</small>
            </div>
          </div>
        </div>
      </div>
    </swipe-card>
  </swipe-cards>
</ion-content>
</ion-view>
