<div class="row">
  <div class="col-sm-12">
    <h1>Add Blog</h1>

    <form ng-model="$scope.blog" unsaved-warning-form>
      <div class="form-group">
        <label for="title">Title</label>
        <input class="form-control" id="title" ng-model="blog.title" type="text">
      </div>
      <div class="form-group">
        <label for="image">Image</label>
        <input class="form-control" id="image" ng-model="blog.image" type="text">
      </div>
      <div class="form-group">
        <label for="url">URL</label>
        <input class="form-control" id="url" ng-model="blog.url" type="text">
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" ng-model="blog.description" type="text"></textarea>
      </div>
      <div class="form-group">
        <label for="kimonoId">Kimono ID</label>
        <input class="form-control" id="kimonoId" ng-model="blog.kimonoId" type="text">
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="blog.isOnDemand">
          On-Demand
        </label>
      </div>
      <div class="form-group">
        <label for="onDemandVal">Kimono On-Demand Value</label>
        <input class="form-control" id="onDemandVal" ng-model="blog.onDemandVal" type="text">
      </div>

    </form>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
      <button type="submit" class="btn btn-primary" ng-click="SaveBlog();">Save</button>
      <button class="btn btn-default" ng-click="Close()">Close</button>
  </div>
</div>
