<div class="modal-header">
  <h4 class="modal-title">Add Channel</h4>
</div>

<div class="row" style="padding-top: 15px;">
  <div class="col-sm-12">
    <form ng-model="$scope.channel" name="channelForm" unsaved-warning-form>
      <div class="form-group">
        <label for="title">Name</label>
        <input class="form-control" id="title" ng-model="channel.name" type="text" required>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" ng-model="channel.description" type="text" required></textarea>
      </div>
      <div class="form-group">
        <label for="image">Image</label>
        <input class="form-control" id="image" ng-model="channel.icon" type="text" required>
      </div>
      <label>Songs</label>
      <div class="form-group">
        <div class="input-group">
          <input class="form-control" ng-model="newSong.url" placeholder="url" type="text">
          <span class="input-group-btn">
            <button class="btn btn-success" ng-click="AddSong(newSong)" type="button">Add</button>
          </span>
        </div>
      </div>
      <div class="form-group" ng-repeat="song in channel.songs track by $index">
        <div class="input-group">
          <input class="form-control" id="url" ng-model="song.url" type="text">
          <span class="input-group-btn">
            <button class="btn btn-danger" ng-click="RemoveSong($index)" type="button">Remove</button>
          </span>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success" ng-click="SaveChannel();" ng-disabled="channelForm.$invalid" type="button">Save Channel</button>
        <button class="btn btn-default" ng-click="Close()" type="button">Cancel</button>
      </div>
    </form>
  </div>
</div>
