<div class="modal-header">
  <h4 class="modal-title">Add Genre</h4>
</div>

<div class="row" style="padding-top: 15px;">
  <div class="col-sm-12">
    <form ng-model="$scope.genre" unsaved-warning-form>

      <div class="form-group">
        <label for="title">Name</label>
        <input class="form-control" id="title" ng-model="genre.name" resettable type="text">
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" ng-model="genre.description" resettable type="text"></textarea>
      </div>

      <div class="form-group">
        <label for="image">Image</label>
        <input class="form-control" id="image" ng-model="genre.icon" resettable type="text">
      </div>

      <div class="form-group">
        <label for="url">Song</label>
        <div class="input-group">
          <input class="form-control" ng-model="newSong.url" placeholder="url" resettable type="text">
          <span class="input-group-btn">
            <button class="btn btn-success" ng-click="AddSong(newSong)" type="button">Add</button>
          </span>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group" ng-repeat="song in genre.songs track by $index">
          <input class="form-control" ng-model="song.url" resettable type="text">
          <span class="input-group-btn">
            <button class="btn btn-danger" ng-click="RemoveSong($index)" type="button">Remove</button>
          </span>
        </div>
      </div>

    </form>
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-success" ng-click="SaveGenre();" type="submit">Save Genre</button>
  <button class="btn btn-default" ng-click="Close()" type="button">Cancel</button>
</div>
