<div class="row">
  <div class="col-xs-8">
    <h1>Blogs</h1>
  </div>
  <div class="col-xs-4">
    <button class="btn btn-success pull-right" ng-click="AddBlog()" type="button">
      <i class="fa fa-plus"></i>
      Add New Blog
    </button>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="list-group">
      <a class="list-group-item" href="/blogs/{{blog._id}}" ng-repeat="blog in blogs">
        <h4 class="list-group-item-heading">{{blog.title}}</h4>
        <p class="list-group-item-text">
          {{blog.description}}
        </p>
        <small style="padding-top: 5px;">
          Last updated:
          {{blog.updatedAt}}
        </small>
      </a>
    </div>
  </div>
</div>
