<div class="row">
  <div class="col-sm-12">
    <h1>Blawgs</h1>


  <!--  <uib-tabset justified="true">
    <uib-tab heading="Justified">Justified content</uib-tab>
    <uib-tab heading="SJ">Short Labeled Justified content</uib-tab>
    <uib-tab heading="Long Justified">Long Labeled Justified content</uib-tab>
  </uib-tabset>-->


    <ul class="nav nav-tabs">
      <li class="active"><a data-target="#addBlog" data-toggle="tab">Add Blog</a></li>
      <li><a data-target="#deleteBlog" data-toggle="tab">Delete Blog</a></li>
      <li><a data-target="#updateBlog" data-toggle="tab">Update Blog</a></li>
    </ul>

      <div class="tab-content">
			  <div class="tab-pane" id="addBlog">

        <div class ="row">
            <div class="col-sm-2">
                        <label class="label-right">Blog Title</label>
            </div>
            <div class="col-sm-4">
              <input type="text"  ng-model="blog.title" class="form-control input-xs">
            </div>
        </div>
        <div class ="row">
            <div class="col-sm-2">
                        <label class="label-right">Blog Image URL</label>
            </div>
            <div class="col-sm-4">
              <input type="text"  ng-model="blog.image" class="form-control input-xs">
            </div>
        </div>
        <div class ="row">
            <div class="col-sm-2">
                      <label class="label-right">Blog URL</label>
            </div>
            <div class="col-sm-4">
              <input type="text"  ng-model="blog.url" class="form-control input-xs">
            </div>
        </div>
        <div class ="row">
            <div class="col-sm-2">
                        <label class="label-right">Blog Description</label>
            </div>
            <div class="col-sm-4">
              <input type="text"  ng-model="blog.description" class="form-control input-xs">
            </div>
        </div>
        <div class ="row">
            <div class="col-sm-2">
                        <label class="label-right">Blog Kimono Id</label>
            </div>
            <div class="col-sm-4">
              <input type="text"  ng-model="blog.kimonoId" class="form-control input-xs">
            </div>
        </div>
        <div class ="row">
            <div class="col-sm-2">
                        <label class="label-right">Blog On Demand?</label>
            </div>
            <div class="col-sm-1">
              <input type="checkbox"  ng-model="blog.isOnDemand" class="form-control input-xs" >
            </div>
        </div>
        <div class ="row">
            <div class="col-sm-2">
                        <label class="label-right">Blog Demand Value</label>
            </div>
            <div class="col-sm-4">
              <input type="text"  ng-model="blog.onDemandVal" class="form-control input-xs">
            </div>
        </div>
        <button type="button" class="btn btn-default" ng-click="AddBlog();">Add Blog</button>
        </div>


			  <div class="tab-pane" id="deleteBlog">Delete Blog</div>
			  <div class="tab-pane active" id="updateBlog">
          <select ng-options="blog as blog.title for blog in currentBlogs" ng-model="currentBlog">
            {{currentBlog.title}}
          </select>
          <!--<div ng-repeat="currentBlog in currentBlogs">-->
            <div class ="row">
                <div class="col-sm-2">
                            <label class="label-right">Blog Title</label>
                </div>
                <div class="col-sm-4">
                  <input type="text"  ng-model="currentBlog.title" class="form-control input-xs">
                </div>
            </div>
            <div class ="row">
                <div class="col-sm-2">
                            <label class="label-right">Blog Image URL</label>
                </div>
                <div class="col-sm-4">
                  <input type="text"  ng-model="currentBlog.image" class="form-control input-xs">
                </div>
            </div>
            <div class ="row">
                <div class="col-sm-2">
                          <label class="label-right">Blog URL</label>
                </div>
                <div class="col-sm-4">
                  <input type="text"  ng-model="currentBlog.url" class="form-control input-xs">
                </div>
            </div>
            <div class ="row">
                <div class="col-sm-2">
                            <label class="label-right">Blog Description</label>
                </div>
                <div class="col-sm-4">
                  <input type="text"  ng-model="currentBlog.description" class="form-control input-xs">
                </div>
            </div>
            <div class ="row">
                <div class="col-sm-2">
                            <label class="label-right">Blog Kimono Id</label>
                </div>
                <div class="col-sm-4">
                  <input type="text"  ng-model="currentBlog.kimonoId" class="form-control input-xs">
                </div>
            </div>
            <div class ="row">
                <div class="col-sm-2">
                            <label class="label-right">Blog On Demand?</label>
                </div>
                <div class="col-sm-1">
                  <input type="checkbox"  ng-model="currentBlog.isOnDemand" class="form-control input-xs" >
                </div>
            </div>
            <div class ="row">
                <div class="col-sm-2">
                            <label class="label-right">Blog Demand Value</label>
                </div>
                <div class="col-sm-4">
                  <input type="text"  ng-model="currentBlog.onDemandVal" class="form-control input-xs">
                </div>
            </div>
            <button type="button" class="btn btn-default" ng-click="UpdateBlog(currentBlog);">Update Blog</button>
          <!--</div>-->
        </div>

			</div>

  </div>
</div>
