<div class="row">
  <div class="col-sm-12">
    <h1>Channels</h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <button class="btn btn-success" type="button" ng-click="AddChannel()">Add New Channel</button>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="channel in channels">
        <span class="badge">
          <a href="#/channels/{{channel._id}}" style="color: #ffffff;">Edit</a>
        </span>
        {{channel.name}}
      </li>
    </ul>

  </div>
</div>
