<div class="row">
  <div class="col-sm-12">
    <h1>Curators</h1>

    <div class="row">
      <div class="col-md-4">
      <button class="btn btn-default" type="button" ng-click="AddCurator()">Add New Curator</button>
      </div>
    </div>
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="curator in curators">
        <span class="badge">
          <a href="#/curators/{{curator._id}}" style="color: #ffffff;">Edit</a>
        </span>
        {{curator.name}}
      </li>
    </ul>

  </div>
</div>
