<div class="row">
  <div class="col-sm-12">
    <h1>Curators</h1>
        <div class ="row">
            <div class="col-sm-2">
                        <label class="label-right">Curator Title</label>
            </div>
            <div class="col-sm-4">
              <input type="text"  ng-model="curator.name" class="form-control input-xs">
            </div>
        </div>
        <div class ="row">
            <div class="col-sm-2">
                        <label class="label-right">Curator Image URL</label>
            </div>
            <div class="col-sm-4">
              <input type="text"  ng-model="curator.icon" class="form-control input-xs">
            </div>
        </div>
        <div class ="row">
            <div class="col-sm-2">
                      <label class="label-right">Curator Description</label>
            </div>
            <div class="col-sm-4">
              <input type="text"  ng-model="curator.description" class="form-control input-xs">
            </div>
        </div>
        <div class ="row">
            <div class="col-sm-2">
                        <label class="label-right">Song URL</label>
            </div>
            <div class="col-sm-4">
              <input type="text"  ng-model="curator.newSongs" class="form-control input-xs">
            </div>
        </div>

        <button type="button" class="btn btn-default" ng-click="AddCurator();">Curator Blog</button>
      </div>
    </div>
