<div class="row">
  <div class="col-xs-8">
    <h1>Genres</h1>
  </div>
  <div class="col-xs-4">
    <button class="btn btn-success pull-right" ng-click="AddGenre()" type="button">
      <i class="fa fa-plus"></i>
      Add New Genre
    </button>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="list-group">
      <a class="list-group-item" href="#/genres/{{genre._id}}" ng-repeat="genre in genres">
        <h4 class="list-group-item-heading">{{genre.name}}</h4>
        <p class="list-group-item-text">
          {{genre.description}}
        </p>
        <small style="margin-top: 5px;">
          Last updated:
          {{genre.updatedAt}}
        </small>
      </a>
    </div>
  </div>
</div>
