<div class="row">
  <div class="col-sm-12">
    <div class="jumbotron">
      <h1>Login</h1>
      <form ng-submit="doLogin()">
        <div class="form-group">
          <label>Username</label>
          <input class="form-control" ng-model="loginData.username" type="text">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input class="form-control" ng-model="loginData.password" type="password">
        </div>
        <div class="alert alert-danger" ng-if="error">
          {{ error }}
        </div>
        <button class="btn btn-block btn-success" type="submit">
          <span ng-if="!processing">Login</span>
          <span class="spinner" ng-if="processing">
            <span class="glyphicon glyphicon-repeat"></span>
          </span>
        </button>
      </form>
    </div>
  </div>
</div>
