<div class="row">
  <div class="col-sm-12">
    <h1>Top Tracks</h1>

    <form ng-model="$scope.topTracks" unsaved-warning-form>
      <div class="form-group">
        <label for="url">Add New Song</label>
        <div class="input-group">
          <input class="form-control" id="url" ng-model="newSong.url" type="text" placeholder="URL">
          <span class="input-group-btn">
            <button class="btn btn-success" ng-click="AddSong(newSong)" type="button">Add</button>
          </span>
        </div>
      </div>
      <label>
        Songs
      </label>
      <div class="form-group" ng-repeat="song in topTrack.songs">
        <div class="input-group">
          <input class="form-control" id="url" ng-model="song.url" type="text">
          <span class="input-group-btn">
            <button class="btn btn-danger" ng-click="RemoveSong($index)" type="button">Remove</button>
          </span>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <button class="btn btn-success" ng-click="SaveTopTracks();" type="submit">Save</button>
  </div>
</div>
