<div class="row">
  <div class="col-sm-12">
    <h1>Top Tracks</h1>

    <form ng-model="$scope.topTracks" style="padding-top: 15px;" unsaved-warning-form>
      <h4 for="url">Add New Song</h4>
      <div class="form-group">
        <div class="input-group">
          <input class="form-control" id="url" ng-model="newSong.url" placeholder="URL" type="text">
          <span class="input-group-btn">
            <button class="btn btn-success" ng-click="AddSong(newSong)" type="button">Add</button>
          </span>
        </div>
      </div>
      <h4>Songs</h4>
      <div data-as-sortable="sortableOptions" data-ng-model="topTrack.songs">
        <div data-as-sortable-item ng-repeat="song in topTrack.songs">
          <div class="input-group" style="margin-bottom: 15px;">
            <span class="input-group-btn">
              <button as-sortable-item-handle class="btn btn-default as-sortable-item-handle">
                <i class="fa fa-arrows-v"></i>
              </button>
            </span>
            <input class="form-control" ng-model="song.url" type="text">
            <span class="input-group-btn">
              <button class="btn btn-danger" ng-click="RemoveSong($index)" type="button">Remove</button>
            </span>
          </div>
        </div>
      </div>

      <button class="btn btn-success" ng-click="SaveTopTracks();" type="submit">Save Changes</button>

    </form>
  </div>
</div>
