@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,400italic,600);
@import url(//fonts.googleapis.com/css?family=PT+Sans:700);

body {
  font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, .title, .menu-right .item-content {
  font-family: 'PT Sans', sans-serif;
  font-weight: 600;
}

.spinner svg {
  width: 100px;
  height: 100px;
  stroke: #444;
  fill: #444;
}

.pane {
  /*background-color: #333;*/
}

.bar.bar-transparent {
  background-color: transparent;
  background-image: none;
  border: none;
}

.swipe-cards {

}

.ferns-bg {
  background: url(../img/ferns.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.fade-component {
  background: rgba(255,255,255, 0.7) !important;
}

.fade-component .card {
  background: rgba(255,255,255, 0.7) !important;
}

.fade-component .item {
  background: rgba(255,255,255, 0.7) !important;
}

.fade-component .item-content {
  background: rgba(255,255,255, 0.7) !important;
}

.swipe-card .item {
  background: rgba(255,255,255, 0.7) !important;
}

.first-card .item {
  background: rgba(255,255,255, 0.7) !important;
}

.scroll-content > .scroll {
  height: 100%;
}
.scroll-content > .scroll > iframe {
  min-height: 100%;
}

swipe-card {
  display: none;
  width: 100%;
  position: fixed;
  -webkit-transform: scale(1,1);
  box-sizing: border-box;
  overflow: hidden;
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes bounceIn {
  0% {
    -webkit-transform: scale(0,0);
  }
  70% {
    -webkit-transform: scale(1.2,1.2);
  }
  100% {
    -webkit-transform: scale(1,1);
  }
}

swipe-card.pop-in-start {
  -webkit-transform: scale(0,0);
}
swipe-card.pop-in {
  -webkit-animation: bounceIn 0.4s ease-out;
}

.list-reset {
    list-style: none;
    padding-left: 0
}

.button-small {
    padding: .25rem .5rem
}

.button-big {
    padding: 1rem 1.25rem
}

.button-narrow {
    padding-left: .5rem;
    padding-right: .5rem
}

.inline {
    display: inline
}

.block {
    display: block
}

.inline-block {
    display: inline-block
}

.overflow-hidden {
    overflow: hidden
}

.overflow-scroll {
    overflow: scroll
}

.overflow-auto {
    overflow: auto
}

.clearfix:after,.clearfix:before {
    content: " ";
    display: table
}

.clearfix:after {
    clear: both
}

.left {
    float: left
}

.right {
    float: right
}

.fit {
    max-width: 100%
}

.half-width {
    width: 50%
}

.full-width {
    width: 100%
}

.bold {
    font-weight: 600
}

.regular {
    font-weight: 400
}

.italic {
    font-style: italic
}

.caps {
    text-transform: uppercase;
    letter-spacing: .2em
}

.left-align {
    text-align: left
}

.center {
    text-align: center
}

.right-align {
    text-align: right
}

.justify {
    text-align: justify
}

.nowrap {
    white-space: nowrap
}

.m0 {
    margin: 0
}

.mt0 {
    margin-top: 0
}

.mr0 {
    margin-right: 0
}

.mb0 {
    margin-bottom: 0
}

.ml0 {
    margin-left: 0
}

.m1 {
    margin: .5rem
}

.mt1 {
    margin-top: .5rem
}

.mr1 {
    margin-right: .5rem
}

.mb1 {
    margin-bottom: .5rem
}

.ml1 {
    margin-left: .5rem
}

.m2 {
    margin: 1rem
}

.mt2 {
    margin-top: 1rem
}

.mr2 {
    margin-right: 1rem
}

.mb2 {
    margin-bottom: 1rem
}

.ml2 {
    margin-left: 1rem
}

.m3 {
    margin: 2rem
}

.mt3 {
    margin-top: 2rem
}

.mr3 {
    margin-right: 2rem
}

.mb3 {
    margin-bottom: 2rem
}

.ml3 {
    margin-left: 2rem
}

.m4 {
    margin: 4rem
}

.mt4 {
    margin-top: 4rem
}

.mr4 {
    margin-right: 4rem
}

.mb4 {
    margin-bottom: 4rem
}

.ml4 {
    margin-left: 4rem
}

.mxn1 {
    margin-left: -.5rem;
    margin-right: -.5rem
}

.mxn2 {
    margin-left: -1rem;
    margin-right: -1rem
}

.mxn3 {
    margin-left: -2rem;
    margin-right: -2rem
}

.mxn4 {
    margin-left: -4rem;
    margin-right: -4rem
}

.mx-auto {
    margin-left: auto;
    margin-right: auto
}

.p1 {
    padding: .5rem
}

.py1 {
    padding-top: .5rem;
    padding-bottom: .5rem
}

.px1 {
    padding-left: .5rem;
    padding-right: .5rem
}

.p2 {
    padding: 1rem
}

.py2 {
    padding-top: 1rem;
    padding-bottom: 1rem
}

.px2 {
    padding-left: 1rem;
    padding-right: 1rem
}

.p3 {
    padding: 2rem
}

.py3 {
    padding-top: 2rem;
    padding-bottom: 2rem
}

.px3 {
    padding-left: 2rem;
    padding-right: 2rem
}

.p4 {
    padding: 4rem
}

.py4 {
    padding-top: 4rem;
    padding-bottom: 4rem
}

.px4 {
    padding-left: 4rem;
    padding-right: 4rem
}

.display-none,.lg-show,.md-show,.sm-show {
    display: none!important
}

@media (min-width: 40em) {
    .sm-show {
        display:block!important
    }
}

@media (min-width: 52em) {
    .md-show {
        display:block!important
    }
}

@media (min-width: 64em) {
    .lg-show {
        display:block!important
    }
}

@media (min-width: 40em) {
    .sm-hide {
        display:none!important
    }
}

@media (min-width: 52em) {
    .md-hide {
        display:none!important
    }
}

@media (min-width: 64em) {
    .lg-hide {
        display:none!important
    }
}

.hide {
    position: absolute!important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px,1px,1px,1px)
}

.relative {
    position: relative
}

.absolute {
    position: absolute
}

.fixed {
    position: fixed
}

.top-0 {
    top: 0
}

.right-0 {
    right: 0
}

.bottom-0 {
    bottom: 0
}

.left-0 {
    left: 0
}

.z1 {
    z-index: 1
}

.z2 {
    z-index: 2
}

.z3 {
    z-index: 3
}

.z4 {
    z-index: 4
}

.absolute-center {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: table
}

.x-group-item {
    margin-left: -1px
}

.x-group-item:first-of-type {
    margin-left: 0
}

.y-group-item {
    margin-top: -1px
}

.y-group-item:first-of-type {
    margin-top: 0
}

.x-group-item:focus,.y-group-item:focus {
    position: relative;
    z-index: 1
}

.h00 {
    font-size: 4rem
}

.h0 {
    font-size: 2.25rem
}

@media (min-width: 52em) {
    .h00-responsive {
        font-size:8vw
    }

    .h0-responsive {
        font-size: 5vw
    }

    .h1-responsive {
        font-size: 4vw
    }
}

@media (min-width: 96em) {
    .h00-responsive {
        font-size:7.68rem
    }

    .h0-responsive {
        font-size: 4.8rem
    }

    .h1-responsive {
        font-size: 3.84rem
    }
}

.container {
    max-width: 76rem;
    margin-left: auto;
    margin-right: auto
}

.col {
    float: left;
    box-sizing: border-box
}

.col-right {
    float: right;
    box-sizing: border-box
}

.col-1 {
    width: 8.333333333333332%
}

.col-2 {
    width: 16.666666666666664%
}

.col-3 {
    width: 25%
}

.col-4 {
    width: 33.33333333333333%
}

.col-5 {
    width: 41.66666666666667%
}

.col-6 {
    width: 50%
}

.col-7 {
    width: 58.333333333333336%
}

.col-8 {
    width: 66.66666666666666%
}

.col-9 {
    width: 75%
}

.col-10 {
    width: 83.33333333333334%
}

.col-11 {
    width: 91.66666666666666%
}

.col-12 {
    width: 100%
}

@media (min-width: 40em) {
    .sm-col {
        float:left;
        box-sizing: border-box
    }

    .sm-col-right {
        float: right;
        box-sizing: border-box
    }

    .sm-col-1 {
        width: 8.333333333333332%
    }

    .sm-col-2 {
        width: 16.666666666666664%
    }

    .sm-col-3 {
        width: 25%
    }

    .sm-col-4 {
        width: 33.33333333333333%
    }

    .sm-col-5 {
        width: 41.66666666666667%
    }

    .sm-col-6 {
        width: 50%
    }

    .sm-col-7 {
        width: 58.333333333333336%
    }

    .sm-col-8 {
        width: 66.66666666666666%
    }

    .sm-col-9 {
        width: 75%
    }

    .sm-col-10 {
        width: 83.33333333333334%
    }

    .sm-col-11 {
        width: 91.66666666666666%
    }

    .sm-col-12 {
        width: 100%
    }
}

@media (min-width: 52em) {
    .md-col {
        float:left;
        box-sizing: border-box
    }

    .md-col-right {
        float: right;
        box-sizing: border-box
    }

    .md-col-1 {
        width: 8.333333333333332%
    }

    .md-col-2 {
        width: 16.666666666666664%
    }

    .md-col-3 {
        width: 25%
    }

    .md-col-4 {
        width: 33.33333333333333%
    }

    .md-col-5 {
        width: 41.66666666666667%
    }

    .md-col-6 {
        width: 50%
    }

    .md-col-7 {
        width: 58.333333333333336%
    }

    .md-col-8 {
        width: 66.66666666666666%
    }

    .md-col-9 {
        width: 75%
    }

    .md-col-10 {
        width: 83.33333333333334%
    }

    .md-col-11 {
        width: 91.66666666666666%
    }

    .md-col-12 {
        width: 100%
    }
}

@media (min-width: 64em) {
    .lg-col {
        float:left;
        box-sizing: border-box
    }

    .lg-col-right {
        float: right;
        box-sizing: border-box
    }

    .lg-col-1 {
        width: 8.333333333333332%
    }

    .lg-col-2 {
        width: 16.666666666666664%
    }

    .lg-col-3 {
        width: 25%
    }

    .lg-col-4 {
        width: 33.33333333333333%
    }

    .lg-col-5 {
        width: 41.66666666666667%
    }

    .lg-col-6 {
        width: 50%
    }

    .lg-col-7 {
        width: 58.333333333333336%
    }

    .lg-col-8 {
        width: 66.66666666666666%
    }

    .lg-col-9 {
        width: 75%
    }

    .lg-col-10 {
        width: 83.33333333333334%
    }

    .lg-col-11 {
        width: 91.66666666666666%
    }

    .lg-col-12 {
        width: 100%
    }
}

.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.flex-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}

.flex-wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.flex-center {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.flex-baseline {
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline
}

.flex-stretch {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch
}

.flex-start {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start
}

.flex-end {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end
}

.flex-first {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1
}

.flex-last {
    -webkit-box-ordinal-group: 1025;
    -webkit-order: 1024;
    -ms-flex-order: 1024;
    order: 1024
}

.flex-auto {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

.flex-grow {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto
}

.flex-none {
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none
}

.flex>div {
    box-sizing: border-box
}

@media (min-width: 40em) {
    .sm-flex {
        display:-webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex
    }

    .sm-flex>div {
        box-sizing: border-box
    }
}

@media (min-width: 52em) {
    .md-flex {
        display:-webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex
    }

    .md-flex>div {
        box-sizing: border-box
    }
}

@media (min-width: 64em) {
    .lg-flex {
        display:-webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex
    }

    .lg-flex>div {
        box-sizing: border-box
    }
}

body {
    color: #222;
    background-color: #fff
}

a {
    color: #0074d9;
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

code,pre {
    background-color: #ddd;
    border-radius: 3px
}

hr {
    border: 0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(0,0,0,.25)
}

.field-light {
    background-color: #fff;
    -webkit-transition: box-shadow .2s ease;
    transition: box-shadow .2s ease;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0,0,0,.25);
    border-radius: 3px
}

.field-light:focus {
    outline: 0;
    border-color: #0074d9;
    box-shadow: 0 0 2px rgba(0,116,217,.5)
}

.field-light:disabled {
    color: #aaa;
    background-color: rgba(0,0,0,.0625)
}

.field-light:read-only:not(select) {
    background-color: rgba(0,0,0,.0625)
}

.field-light:invalid {
    border-color: #ff4136
}

.field-light.is-success {
    border-color: #2ecc40
}

.field-light.is-warning {
    border-color: #ffdc00
}

.field-light.is-error {
    border-color: #ff4136
}

.checkbox-light,.radio-light {
    -webkit-transition: box-shadow .2s ease;
    transition: box-shadow .2s ease
}

.radio-light {
    border-radius: 50%
}

.checkbox-light:focus,.radio-light:focus {
    outline: 0;
    box-shadow: 0 0 2px rgba(0,116,217,.5)
}

.field-dark {
    color: #fff;
    background-color: rgba(0,0,0,.25);
    border: 1px solid rgba(0,0,0,.03125);
    border-radius: 3px
}

.field-dark::-webkit-input-placeholder {
    color: rgba(255,255,255,.75)
}

.field-dark::-moz-placeholder {
    color: rgba(255,255,255,.75)
}

.field-dark:-ms-input-placeholder {
    color: rgba(255,255,255,.75)
}

.field-dark::placeholder {
    color: rgba(255,255,255,.75)
}

.field-dark:focus {
    outline: 0;
    border: 1px solid rgba(255,255,255,.5)
}

.field-dark:read-only:not(select) {
    background-color: rgba(255,255,255,.25)
}

.field-dark:invalid {
    border-color: #ff4136
}

.field-dark.is-success {
    border-color: #2ecc40
}

.field-dark.is-warning {
    border-color: #ffdc00
}

.field-dark.is-error {
    border-color: #ff4136
}

input[type=range] {
    vertical-align: middle;
    background-color: transparent
}

.range-light {
    color: inherit;
    -webkit-appearance: none;
    padding-top: .5rem;
    padding-bottom: .5rem
}

.range-light::-webkit-slider-thumb {
    -webkit-appearance: none;
    position: relative;
    width: .5rem;
    height: 1.25rem;
    border-radius: 3px;
    background-color: currentcolor;
    cursor: pointer;
    margin-top: -.5rem
}

.range-light::-webkit-slider-thumb:before {
    content: '';
    display: block;
    position: absolute;
    top: -.5rem;
    left: -.875rem;
    width: 2.25rem;
    height: 2.25rem;
    opacity: 0
}

.range-light::-moz-range-thumb {
    width: .5rem;
    height: 1.25rem;
    border-radius: 3px;
    border-color: transparent;
    border-width: 0;
    background-color: currentcolor;
    cursor: pointer
}

.range-light::-webkit-slider-runnable-track {
    height: .25rem;
    cursor: pointer;
    border-radius: 3px;
    background-color: rgba(0,0,0,.25)
}

.range-light::-moz-range-track {
    height: .25rem;
    cursor: pointer;
    border-radius: 3px;
    background-color: rgba(0,0,0,.25)
}

.range-light:focus {
    outline: 0
}

.range-light:focus::-webkit-slider-thumb {
    outline: 0;
    border: 0;
    box-shadow: 0 0 1px 2px currentcolor
}

.range-light:focus::-moz-range-thumb {
    outline: 0;
    border: 0;
    box-shadow: 0 0 1px 2px currentcolor
}

.progress {
    display: block;
    width: 100%;
    height: .5625rem;
    margin: .5rem 0;
    background-color: rgba(0,0,0,.0625);
    border: 0;
    border-radius: 10000px;
    overflow: hidden;
    -webkit-appearance: none;
    cursor: pointer
}

.progress::-webkit-progress-bar {
    -webkit-appearance: none;
    background-color: rgba(0,0,0,.0625)
}

.progress::-webkit-progress-value {
    -webkit-appearance: none;
    background-color: currentColor
}

.progress::-moz-progress-bar {
    background-color: currentColor
}

.table-light td,.table-light th {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(0,0,0,.25)
}

.table-light tr:last-child td {
    border-bottom: 0
}

.border {
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0,0,0,.25)
}

.border-top {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: rgba(0,0,0,.25)
}

.border-right {
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: rgba(0,0,0,.25)
}

.border-bottom {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(0,0,0,.25)
}

.border-left {
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: rgba(0,0,0,.25)
}

.rounded {
    border-radius: 3px
}

.circle {
    border-radius: 50%
}

.rounded-top {
    border-radius: 3px 3px 0 0
}

.rounded-right {
    border-radius: 0 3px 3px 0
}

.rounded-bottom {
    border-radius: 0 0 3px 3px
}

.rounded-left {
    border-radius: 3px 0 0 3px
}

.not-rounded {
    border-radius: 0
}

.bg-cover {
    background-size: cover
}

.bg-contain {
    background-size: contain
}

.bg-center {
    background-position: center
}

.bg-top {
    background-position: top
}

.bg-right {
    background-position: right
}

.bg-bottom {
    background-position: bottom
}

.bg-left {
    background-position: left
}

.hljs {
    -webkit-text-size-adjust: none
}

.diff .hljs-header,.hljs-comment,.hljs-javadoc {
    color: #aaa;
    font-style: italic
}

.css .rule .hljs-keyword,.hljs-keyword,.hljs-request,.hljs-status,.hljs-subst,.hljs-winutils,.nginx .hljs-title {
    color: #222;
    font-weight: 700
}

.hljs-hexcolor,.hljs-number,.ruby .hljs-constant {
    color: #3d9970
}

.hljs-dartdoc,.hljs-phpdoc,.hljs-string,.hljs-tag .hljs-value,.tex .hljs-formula {
    color: #ff4136
}

.hljs-id,.hljs-title,.scss .hljs-preprocessor {
    color: #ff4136;
    font-weight: 700
}

.hljs-list .hljs-keyword,.hljs-subst {
    font-weight: 400
}

.hljs-class .hljs-title,.hljs-type,.tex .hljs-command,.vhdl .hljs-literal {
    color: #001f3f;
    font-weight: 700
}

.django .hljs-tag .hljs-keyword,.hljs-rules .hljs-property,.hljs-tag,.hljs-tag .hljs-title {
    color: #001f3f;
    font-weight: 400
}

.hljs-attribute,.hljs-regexp,.hljs-variable,.lisp .hljs-body {
    color: #3d9970
}

.clojure .hljs-keyword,.hljs-prompt,.hljs-symbol,.lisp .hljs-keyword,.ruby .hljs-symbol .hljs-string,.scheme .hljs-keyword,.tex .hljs-special {
    color: #b10dc9
}

.hljs-built_in {
    color: #001f3f
}

.hljs-cdata,.hljs-doctype,.hljs-pi,.hljs-pragma,.hljs-preprocessor,.hljs-shebang {
    color: #aaa;
    font-weight: 700
}

.hljs-deletion {
    background: #f012be
}

.hljs-addition {
    background: #01ff70
}

.diff .hljs-change {
    background: #001f3f
}

.hljs-chunk {
    color: #ddd
}

.black,.dark-gray {
    color: #222
}

.gray,.mid-gray {
    color: #aaa
}

.light-gray,.silver {
    color: #ddd
}

.white {
    color: #fff
}

.aqua {
    color: #7fdbff
}

.blue {
    color: #0074d9
}

.navy {
    color: #001f3f
}

.teal {
    color: #39cccc
}

.green {
    color: #2ecc40
}

.olive {
    color: #3d9970
}

.lime {
    color: #01ff70
}

.yellow {
    color: #ffdc00
}

.orange {
    color: #ff851b
}

.red {
    color: #ff4136
}

.fuchsia {
    color: #f012be
}

.purple {
    color: #b10dc9
}

.maroon {
    color: #85144b
}

.bg-black,.bg-dark-gray {
    background-color: #222
}

.bg-gray,.bg-mid-gray {
    background-color: #aaa
}

.bg-light-gray,.bg-silver {
    background-color: #ddd
}

.bg-white {
    background-color: #fff
}

.bg-aqua {
    background-color: #7fdbff
}

.bg-blue {
    background-color: #0074d9
}

.bg-navy {
    background-color: #001f3f
}

.bg-teal {
    background-color: #39cccc
}

.bg-green {
    background-color: #2ecc40
}

.bg-olive {
    background-color: #3d9970
}

.bg-lime {
    background-color: #01ff70
}

.bg-yellow {
    background-color: #ffdc00
}

.bg-orange {
    background-color: #ff851b
}

.bg-red {
    background-color: #ff4136
}

.bg-fuchsia {
    background-color: #f012be
}

.bg-purple {
    background-color: #b10dc9
}

.bg-maroon {
    background-color: #85144b
}

.bg-darken-1 {
    background-color: rgba(0,0,0,.03125)
}

.bg-darken-2 {
    background-color: rgba(0,0,0,.0625)
}

.bg-darken-3 {
    background-color: rgba(0,0,0,.25)
}

.bg-darken-4 {
    background-color: rgba(0,0,0,.5)
}

.border-aqua {
    border-color: #7fdbff
}

.border-blue {
    border-color: #0074d9
}

.border-navy {
    border-color: #001f3f
}

.border-teal {
    border-color: #39cccc
}

.border-green {
    border-color: #2ecc40
}

.border-olive {
    border-color: #3d9970
}

.border-lime {
    border-color: #01ff70
}

.border-yellow {
    border-color: #ffdc00
}

.border-orange {
    border-color: #ff851b
}

.border-red {
    border-color: #ff4136
}

.border-fuchsia {
    border-color: #f012be
}

.border-purple {
    border-color: #b10dc9
}

.border-maroon {
    border-color: #85144b
}

.border-black {
    border-color: #222
}

.border-gray {
    border-color: #aaa
}

.border-silver {
    border-color: #ddd
}

.border-white {
    border-color: #fff
}

.border-darken-1 {
    border-color: rgba(0,0,0,.03125)
}

.border-darken-2 {
    border-color: rgba(0,0,0,.0625)
}

.border-darken-3 {
    border-color: rgba(0,0,0,.25)
}

.border-darken-4 {
    border-color: rgba(0,0,0,.5)
}

.muted {
    opacity: .5
}

.table {
    display: table;
    width: 100%
}

.table-cell {
    display: table-cell;
    vertical-align: middle
}

.table-fixed {
    table-layout: fixed
}

@media (min-width: 40em) {
    .sm-table {
        display:table;
        width: 100%
    }

    .sm-table-cell {
        display: table-cell;
        vertical-align: middle
    }
}

@media (min-width: 52em) {
    .md-table {
        display:table;
        width: 100%
    }

    .md-table-cell {
        display: table-cell;
        vertical-align: middle
    }
}

@media (min-width: 64em) {
    .lg-table {
        display:table;
        width: 100%
    }

    .lg-table-cell {
        display: table-cell;
        vertical-align: middle
    }
}


@media (max-width: 32em) {
    .folding-table,.folding-table tbody,.folding-table td,.folding-table th,.folding-table thead,.folding-table tr {
        display:block;
        box-sizing: border-box;
        padding-left: 0;
        padding-right: 0;
        width: 100%
    }

    .folding-table td:first-child {
        font-weight: 700;
        padding-top: 1rem
    }

    .folding-table td:last-child {
        padding-bottom: 1rem
    }
}

.sticky {
    position: -webkit-sticky;
    position: sticky
}

.container-small {
    max-width: 58rem;
    margin-left: auto;
    margin-right: auto
}

.border-box {
    box-sizing: border-box
}

h1 a,h2 a,h3 a,h4 a,h5 a,h6 a {
    color: #222
}

pre {
    padding: 1rem;
    background-color: rgba(0,0,0,.03125)
}

code {
    color: #0074d9;
    background-color: rgba(0,116,217,.0625)
}

pre code {
    padding: 0;
    background-color: transparent
}

.outline-blue * {
    box-shadow: 0 0 0 1px rgba(0,116,217,.75)
}

.highlight pre {
    background-color: transparent;
    margin-bottom: 0
}

.hr-block {
    height: 4px;
    border: 0
}

.bright-blue {
    color: #00b9ff
}

.slate {
    color: #304650
}

.bg-light-blue {
    background-color: rgba(0,116,217,.0625)
}

.bg-slate {
    background-color: #304650
}

@-webkit-keyframes fadein {
    from {
        opacity: .5;
        display: none
    }

    to {
        opacity: 1;
        display: block
    }
}

@keyframes fadein {
    from {
        opacity: .5;
        display: none
    }

    to {
        opacity: 1;
        display: block
    }
}

@-webkit-keyframes fadeout {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }

    to {
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
        opacity: 0;
        display: none
    }
}

@keyframes fadeout {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }

    to {
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
        opacity: 0;
        display: none
    }
}

.animation-fadein {
    -webkit-animation: fadein .1s ease-out forwards;
    animation: fadein .1s ease-out forwards
}
