.blog-title {
    color:black;
    font-family:impact;
    font-size:125%;

}

.pane {
  background-color: #333;
}

.bar.bar-transparent {
  background-color: transparent;
  background-image: none;
  border: none;
}

.swipe-cards {
  position: fixed;
}

swipe-card {
  width: 100%;
  position: fixed;
  -webkit-transform: scale(1,1);
  box-sizing: border-box;
  overflow: hidden;
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes bounceIn {
  0% {
    -webkit-transform: scale(0,0);
  }
  70% {
    -webkit-transform: scale(1.2,1.2);
  }
  100% {
    -webkit-transform: scale(1,1);
  }
}

swipe-card.pop-in-start {
  -webkit-transform: scale(0,0);
}
swipe-card.pop-in {
  -webkit-animation: bounceIn 0.4s ease-out;
}
